<div class="dlg-exchange-success-wrapper flex-wrap col-flex">
  <div class="img-voucher"><img src="../../../assets/images/success.png"></div>
  <div class="detail"><span>兑换成功</span></div>
  <div class="detail"><span>{{ '是否使用' + data.activity.attendant.item_name + '菜品券？' }}</span></div>
  <div class="exchange-success-btn flex-wrap row-flex">
    <button class="immediately-use-btn" [mat-dialog-close]="data" cdkFocusInitial>立即使用</button>
    <button class="use-next-btn" (click)="onCancel()" cdkFocusInitial>下次使用</button>
  </div>
</div>
